rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email == "giantjamez@gmail.com";
    }

    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    match /accounts/{docId} {
      allow create: if isAdmin() || isOwner(request.resource.data.userId);
      allow read, update, delete: if isAdmin() || isOwner(resource.data.userId);
    }

    match /characters/{docId} {
      allow create: if isAdmin() || isOwner(request.resource.data.userId);
      allow read, update, delete: if isAdmin() || isOwner(resource.data.userId);
    }

    match /raidStatuses/{docId} {
      allow create: if isAdmin() || isOwner(request.resource.data.userId);
      allow read, update, delete: if isAdmin() || isOwner(resource.data.userId);
    }

    match /lootItems/{docId} {
      allow create: if isAdmin() || isOwner(request.resource.data.userId);
      allow read, update, delete: if isAdmin() || isOwner(resource.data.userId);
    }

    match /shoppingProfiles/{docId} {
      allow create: if isAdmin() || isOwner(request.resource.data.userId);
      allow read, update, delete: if isAdmin() || isOwner(resource.data.userId);
    }

    match /inventoryItems/{docId} {
      allow create: if isAdmin() || isOwner(request.resource.data.userId);
      allow read, update, delete: if isAdmin() || isOwner(resource.data.userId);
    }
  }
}
